<template>
  <footer>
    <nuxt-link to="/" class="navbar-item faq">FAQ</nuxt-link> 
    <nuxt-link to="/" class="navbar-item">Mentions légales. Copyright</nuxt-link>
  </footer>  
</template>

<style scoped>
footer {
  height: 35px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff7a;
}

footer a {
  font-size: 9px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.faq {
  margin-right: 6px;
}

</style>
