<template>
  <header>
    <div class="info_user">
      <img src="~assets/home/avatar.png"  alt="">
      <p class="name">Jean-Pierre</p>
    </div>
    <div>
      <img class="logo" src="~assets/connexion/logo.png" alt="">
    </div>
    <div class="container_notificiation">
      <img src="~assets/home/recherche.png"  alt="">
      <img src="~assets/home/notif.png"  alt="">
      <img src="~assets/home/conversation.png"  alt="">
    </div>
  </header>
</template>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_user {
  background-color: rgba(254, 60, 34, 0.72);
  opacity: 0.7;
  width: 180px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_user p, .info_user img {
  position: relative;
  z-index: 1;
  opacity: 1;
  margin-left: 22%;
}

.info_user .name {
  margin-left: 12px;
}

.logo {
  width: 192px;
  height: 28px;
}

.container_notificiation {
  margin-right: 3%;
  width: 103px;
  display: flex;
  justify-content: space-between;
}


.name {
  font-size: 11px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.592;
  text-align: left;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['loggedInUser'])
  },
}
</script>
