<template>
  <nav>
    <nuxt-link to="/le-reseau" class="navbar-item">Le reseau</nuxt-link>
    <nuxt-link to="/lemag" class="navbar-item">Le Mag'</nuxt-link>
    <nuxt-link to="/portraits" class="navbar-item">Portraits</nuxt-link>
    <nuxt-link to="/evenements" class="navbar-item">événements</nuxt-link>
    <nuxt-link to="/assurer-sa-collection" class="navbar-item">Assurer sa collection</nuxt-link>
    <nuxt-link to="/newsletter" class="navbar-item">Newsletter</nuxt-link>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  // methods: {
  //   async logout() {
  //     await this.$auth.logout();
  //   }
  // },
  // computed: {
  //   ...mapGetters(['isAuthenticated'])
  // },
}
</script>


<style scoped>
nav {
  height: 35px;
  background-color: #000000b8;
  display: flex;
  justify-content: space-around;
  padding-left: 7%;
  padding-right: 7%;
  align-items: center;
}

nav a {
  font-size: 11px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.455;
}

nav a:hover {
  color: rgb(254, 76, 64);
  text-decoration: none;
}

.nuxt-link-exact-active  {
  color: rgb(254, 76, 64);
  text-decoration: none;
}

</style>
