<template>
  <section class="section">
  <Header/>
  <Navbar/>
  <div v-for="article in articles" :key="article.id">
    <div class="bar_title">article > <span> {{ article.title }} </span></div>
    <div class="container_article">
      <div class="wrapper">            
        <img class="article_img" :src="`http://localhost:8888` + article.field_image" alt="">
        <p class="rubrique">Rubrique</p>
        <p class="title">{{ article.title }}</p>
        <p class="body" v-html="article.body"></p>  
      </div>
    </div>
  </div>
  <Footer/>
  </section>
</template>


<script>
import axios from 'axios';

import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer'

export default {
  components: {
    Header,
    Navbar, 
    Footer
  },
  middleware: 'authen',
  asyncData({params}){
    console.log("id est ", params.id)
    return axios.get(`http://localhost:8888/drupal-8.6.1/api/articles/${params.id}`)
    .then((res) => {
      console.log('id:', res.data)
      return { articles : res.data}
    })
    .catch((e) => {
      console.log("error", e)
    })
  }
}
</script>

<style scoped>

a, a:hover {
  color: black;
  text-decoration: none;
}

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('/assets/home/Fond1.png');
  background-size: cover;
 }

.bar_title {
  height: 35px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 4.4%;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.container_article {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  width: 91%;
  height: 88%;
  box-shadow: 4px 4px 8px -1px rgba(8, 8, 8, 0.37);
  padding: 40px;
  column-count: 4;
}

.article_img {
  width: 100%;
  max-height: 44vh;
  object-fit: cover;
}

.block1 {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.rubrique {
  font-size: 11px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 12px;
  text-transform: uppercase;
}

.title {
  font-size: 17px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.067;
  margin-bottom: 21px;
}

.body {
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1.444;
  line-height: 1.444;
  height: 322%;
}
</style>
