<template>
  <section class="section">
  <Header/>
  <Navbar/>
  <div class="bar_title">Assurer sa collection</div>
    <div class="container2">
      <div class="content">
        <h1>Tu souhaites assurer ta collection ? </h1>
        <div class="container_text">
          <div class="block1">
            <img class="avatar" src="~assets/image.png" alt="">
            <h6>Pourquoi assurer sa collection ?</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida lorem felis, ut vestibulum elit consequat ut. Etiam in tortor pretium nibh venenatis bibendum in in velit. Ut convallis dictum ligula. Fusce aliquet sagittis quam et aliquam. Donec et quam accumsan, ornare eros ut, auctor nulla. Pellentesque nec purus scelerisque, dictum ipsum et, cursus ipsum. Vestibulum in dolor gravida, efficitur sapien in, gravida lorem. Mauris turpis est, sodales nec scelerisque sit amet, scelerisque sed lacus. Morbi et magna eu dui tempus convallis eu id dolor.</p>
          </div>
          <div class="block2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida lorem felis, ut vestibulum elit consequat ut. Etiam in tortor pretium nibh venenatis bibendum. </p> <br>
            <p> Vestibulum in dolor gravida, efficitur sapien in, gravida lorem. Mauris turpis est, sodales nec scelerisque sit amet, scelerisque sed lacus. Morbi et magna eu dui tempus convallis eu id dolor. Praesent pretium, nibh et vulputate tempor, felis orci egestas tellus.</p> <br>
            <p> Vestibulum in dolor gravida, efficitur sapien in, gravida lorem. Mauris turpis est, sodales nec scelerisque sit amet, scelerisque sed lacus. Morbi et magna eu dui tempus convallis eu id dolor. Praesent pretium, nibh et vulputate tempor.</p>

            <div class="container_btn">
              <button class="btn_contact">PLUS D’INFORMATIONS</button>
              <button class="btn_contact">NOUS CONTACTER</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <Footer/>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios';
import Cookies from 'js-cookie'
import Vuex from 'vuex'

import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer'

export default {
  components: {
    Header,
    Navbar, 
    Footer
  },
  middleware: 'authen',
}
</script>

<style scoped>
.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/home/Fond1.png');
  background-size: cover;
 }

.bar_title {
  height: 35px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 4.4%;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.container_text {
  display: grid;
  grid-template-columns: 43% 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

h1 {
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.133;
  text-align: center;
  margin-bottom: 7%
}

.content {
  background-color: white;
  width: 93%;
  padding-top: 2.55%;
  padding-right: 7.55%;
  padding-bottom: 4.55%;
  padding-left: 7.55%;
}

.block2 p{
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.25;
}

.block2 {
  position: relative;
}

.block1 {
  display: flex;
  flex-direction: column;
  padding-right: 26%;
}

.container_btn {
  position: absolute;
  bottom: 20px;
}

.block1 p{
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  margin-top: 1vh;
}

img {
  margin-bottom: 2vh;
}

.container_btn {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn_contact {
  background-color: white;
  border: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

</style>
