<template>
  <section class="section">
  <Header/>
  <Navbar/>
  <div class="bar_title">Evénements</div>
    <div class="container2">
      <div class="content">
      </div>
    </div>
  <Footer/>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios';
import Cookies from 'js-cookie'
import Vuex from 'vuex'

import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer'



export default {
  components: {
    Header,
    Navbar, 
    Footer
  },
  middleware: 'authen',
}
</script>

<style scoped>

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/home/Fond1.png');
  background-size: cover;
 }

.bar_title {
  height: 35px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 4.4%;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

</style>
