<template>
  <section class="section">
   <div>
    <img class="logo" src="~assets/connexion/logo.png" alt="">
  </div>
  <p class="genre">Quel genre de BD aimes-tu ?</p>
  <p class="choisi">Choisis-en autant que tu veux !</p>
  <div class="genre_container">
    <div class="section1">
      <img v-for="genre in genres1" @click="insertData( genre.id )" :key="genre.id" :src="genre.img" alt="">
    </div>
    <div class="section2">
      <img v-for="genre in genres2"  @click="insertData( genre.id )" :key="genre.id" :src="genre.img" alt="">
    </div>
  </div>
  <button class="valider" @click="insertData">Valider mon inscription</button>
  <div class="step_container_position">
    <section class="step_container">
      <div class="completed">1</div>
      <div class="completed">2</div>
      <div class="completed">3</div>
    </section>
  </div>
  </section>
</template>


<script>
import axios from 'axios';

export default {
  data(){
    return {
      genres1: [{
        "id": 6, 
        "name": "Manga", 
        "img": "/inscription/Bulle-1.png"
      },
      {
        "id": 7, 
        "name": "Roman graphique",
        "img": "/inscription/Bulle-2.png"     
      },
      {
        "id": 8, 
        "name": "Historique",
        "img": "/inscription/Bulle-3.png"
      },
      {
        "id": 14, 
        "name": "Science-Fi",
        "img": "/inscription/Bulle-4.png"
      },
      {
        "id": 13, 
        "name": "Politique",
        "img": "/inscription/Bulle-5.png"
      }],
      genres2: [{
        "id": 14, 
        "name": "Biographie",
        "img": "/inscription/Bulle-6.png"
      },
      {
        "id": 15, 
        "name": "Humoristique",
        "img": "/inscription/Bulle-7.png"   
      },
      {
        "id": 16, 
        "name": "Absurde",
        "img": "/inscription/Bulle-8.png"
      },
      {
        "id": 17, 
        "name": "Jeunesse",
        "img": "/inscription/Bulle-9.png"
      },
      {
        "id": 18, 
        "name": "Aventure",
        "img": "/inscription/Bulle-10.png" 
      }],
    }
  }, 
  methods: {
    // select(id){
    //   this.ids.push({
    //     "user_id": 1, 
    //     "genre_id": id
    //   })
    //   console.log('id', this.ids)
    // },
    async insertData(id){
      console.log("id", id)
      if(event.target.className == 'disabled')
			{
				return;
			}
			event.target.className = 'disabled';
      try{
        let response = await axios.post('http://localhost:8000/api/genrebd', {
          user_id: 1,
          group_id: 14
        })
        // let response = await axios.get('http://localhost:8000/api/genrebd')
        console.log("response:", response)
      }
      catch(e){
        console.error(e)
      }
    }
  }, 
}
</script>



<style scoped>
p {
  margin: 0;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/connexion/Calque.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 12px !important;
}

.section div {
  display: flex;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 13%;
  width: 266px;
  height: 53px;
}

.genre_container {
  height: 47vh;
  width: 100%;
}

.genre {
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  position: relative;
}

.choisi{
  font-size: 11px;
  color: rgb(244, 244, 244);
  line-height: 2.455;
  width: 160px;
  height: 24px;
  margin-bottom: 15px;
  font-style: italic;
}

.bulle {
  width: auto;
  height: 120px;
}

.step_container_position {
  position: absolute;
  bottom: 7%;
}

.step_container {
  display: flex;
  width: 185px;
  justify-content: space-around;
  position: relative;
}

.step_container::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 73%;
  background-color: white;
  top: 46%;
}

.completed {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  color: #2f58c4;
  position: relative;
  z-index: 2;
  align-items: center;
  font-weight: bold;
  font-size: 9px;
}

.not_completed {
  height: 15px;
  width: 15px;;
  border: solid 1px white;
  border-radius: 50%;
  color: white;
  background-color: #2f58c4;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 9px;
}

.genre_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: center;
}

.section1 {
  width: 90%;
  display: flex;
  justify-content: space-around !important;
}

.section2 {
  width: 90%;
  display: flex;
  justify-content: space-around !important;
}

.valider {
  position: absolute;
  bottom: 14%;
  width: 219px;
  height: 27px;
  background-color: white;
  border-radius: 10px;
  border: none;
  border: solid 1px white;
  margin-top: 15px;
  color: white;
  text-transform: initial;
  font-size: 12px;
  color: rgb(244, 244, 244);
  font-weight: bold;
  color: #2e57c4;
  text-transform: uppercase;
}


.disabled {
  opacity: 0.3;
}

</style>
