<template>
 <section class="section">
  <!-- <img src="~assets/connexion/bulle-1.png" class="bulle1" alt="bulle"> -->
  <!-- <img src="~assets/connexion/bulle-2.jpg" class="bulle1" alt="bulle"> -->
  <div>
    <img class="logo" src="~assets/connexion/logo.png" alt="">
  </div>
  <p class="info">Rejoins le réseau des passionnés de BD,  pour rencontrer et échanger avec des collectionneur qui te ressemblent ! </p>
  <p class="membre">Je suis déjà inscrit</p>
     <div>
       <form class="login_form">
         <input id="username" v-model="email" placeholder="Identifiant" type="email" class="input_text"  required>
         <input id="pw" v-model="password" placeholder="Mot de passe" type="password" class="input_text"  required>
         <a class="password_forget" href="">Mot de passe oublié ?</a>
          <b-button @click="login" variant="outline-success" id="connexion">Connexion</b-button>
         <!-- <button @click="login" variant="outline-success" id="connexion">Connexion</button> -->
         <p class="ou">ou</p>
         <button class="btn_connexion_fb_g" @click="login"  id="connexion">
           <img class="btn_connexion" src="~assets/connexion/PICTO-FB.png" alt="">
           <p>Connexion avec Facebook</p></button>
         <button class="btn_connexion_fb_g" @click="login"  id="connexion">
            <img class="btn_connexion" src="~assets/connexion/PICTO-GOOGLE.png" alt="">
           <p>Connexion avec Google</p>
           </button>
       </form>
     </div>
    <p class="pas_membre">Vous n’avez pas encore de compte ?</p>
    <nuxt-link class="liens_inscription" to="/register">Inscrivez-vous</nuxt-link>

    <div class="step_container_position">
      <section class="step_container">
        <div class="completed">1</div>
        <div class="not_completed">2</div>
        <div class="not_completed">3</div>
      </section>
    </div>
    </section>
    
</template>
<script>
import Cookies from 'js-cookie'


export default {
 data() {
     return {
       email:'',
       password:'', 
     }
   },
  mounted() {},
  watch: {},
  components: {},
  methods: {
    async google(){
      await this.$auth.loginWith('google').catch(e => {
        this.$toast.show('Error');
      })
    },
    async facebook(){
       await this.$auth.loginWith('facebook').catch(e => {
        this.$toast.show('Error');
      })
    },
    async login() {
      try {
        this.$toast.show('Logging in...');
        await this.$auth.loginWith('local', {
          data: {
            "email": this.email,
            "password": this.password
          }
        }).catch(e => {
          this.$toast.error('Username or Password wrong');
          console.error("error", e.response)
        });
      if (this.$auth.loggedIn) {
          console.log("ooook");
          this.$toast.success('Successfully Logged In');
          this.$router.push('/lemag');

        }
      } catch (e) {        
          console.log(" not ooook");
          this.$toast.error('Username or Password wrong');
      }
      finally{
        console.log("email", this.email)
        console.log("password", this.password)
      }
    },
    check(){
      console.log(Cookies.get('auth._token.local'))
    },
    logout() {
      this.$toast.show('Logging out...');
      this.$auth.logout()
    }
  } 
}
</script>
<style scoped>


.section div {
  display: flex;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 13%;
  width: 266px;
  height: 53px;
}

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/connexion/Calque.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 12px !important;
 }

.info {
    font-size: 17px;
    font-family: "AntiqueOlive";
    color: rgb(244, 244, 244);
    font-style: italic;
    line-height: 1.462;
    text-align: center;
    width: 321px;
    height: 51px;
    margin-bottom: 5%;
}

.membre {
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2%;
  position: relative;
}

.membre::after {
  content: '';
  position: absolute;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.input_text{
  width: 219px;
    height: 27px;
    background-color: transparent !important;
    margin-bottom: 12px;
    border: none;
    border: solid 1px white;
    padding-left: 10px;
    border-radius: 10px;
    color: rgb(244, 244, 244);
    font-style: italic;
    line-height: 2.451;
}

.ou {
  font-size: 10px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-top: 15px;
}


#connexion {
  width: 219px;
  height: 27px;
  background-color: transparent !important;
  border-radius: 10px;
  border: none;
  border: solid 1px white;
  margin-top: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(244, 244, 244);
  font-weight: bold;
}


.btn_connexion_fb_g {
  display: flex;
  font-size: 11px;
  justify-content: space-evenly;
  text-transform: initial !important;
}

.input_text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: inherit;
    opacity: 1; /* Firefox */
    font-size: 12px !important;
    color: rgb(244, 244, 244);
    font-style: italic;
    line-height: 2.451;
}

.password_forget {
  font-size: 9px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  font-weight: 100;
  line-height: 1.2;
  text-align: right;
  -moz-transform: matrix( 1.00034172243465,0,0,0.99671952796769,0,0);
  -webkit-transform: matrix( 1.00034172243465,0,0,0.99671952796769,0,0);
  -ms-transform: matrix( 1.00034172243465,0,0,0.99671952796769,0,0);
}

.pas_membre {
  font-size: 11px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-top: 15px;
}

.liens_inscription {
  font-size: 11px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-decoration: underline;
}

.bulle1 {
  position: absolute;
  left: 222px;
  top: 291px;
  width: 149px;
  height: 58px;
  z-index: 57;
}

.step_container_position {
  position: absolute;
  bottom: 7%;
}
.step_container {
  display: flex;
  width: 185px;
  justify-content: space-around;
  position: relative;
}

.step_container::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 73%;
  background-color: white;
  top: 46%;
}

.completed {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  color: #2f58c4;
  position: relative;
  z-index: 2;
  align-items: center;
  font-weight: bold;
  font-size: 9px;
}

.not_completed {
  height: 15px;
  width: 15px;;
  border: solid 1px white;
  border-radius: 50%;
  color: white;
  background-color: #2f58c4;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 9px;
}

</style>
