<template>
  <section class="section"> 
    <!-- <ul>
      <li v-for="article in articles" :key="article.id">
        <p> {{ article.title }}</p>
        <p v-html="article.body"></p>
        <img :src="`http://localhost:8888` + article.field_image" alt="">
      </li>
    </ul> -->
  <Header/>
  <Navbar/>
  <div class="bar_title">Le mag'</div>
    <div class="container2">
      <div class="content wrapper">
        <div v-for="article in articles" :key="article.id" class="block">
          <div v-if="article.field_format == '5x3'">
            <div class="head">
              <div class="rubrique">Rubrique </div>
              <div class="date"> Le {{ article.created }} </div>
              <img src="~assets/home/croix.png" class="close" alt="">
            </div>
            <div class="body body_5x3">
              <div>
                <p class="title" > {{ article.title }} </p>
                <img class="article_img" :src="`http://localhost:8888` + article.field_image" alt="">
                <p class="text" v-html="article.body"></p>
                 <div class="container_btn">
              <div class=btn_link>
                <img src="~assets/picto/partage.png"  alt="">
                <img src="~assets/picto/commentaire.png"  alt="">
              </div>
              <div class=btn_more>
              <nuxt-link :to="'/le-mag/' + article.nid ">
                <button>En savoir plus </button>
              </nuxt-link>
              </div>
            </div>
              </div>
            </div>
          </div>

        <div v-if="article.field_format == '4x6'">
          <div class="head">
            <div class="rubrique">Rubrique</div>
            <div class="date"> Le {{ article.created }} </div>
            <img src="~assets/home/croix.png" class="close" alt="">
          </div>
          <div class="body body_4x6">
            <img class="image_46" :src="`http://localhost:8888` + article.field_image" alt="">
            <div class="container_4x6">
              <p class="title" > {{ article.title }} </p>
              <p class="text" v-html="article.body"></p>
               <div class="container_btn">
              <div class=btn_link>
                <img src="~assets/picto/partage.png"  alt="">
                <img src="~assets/picto/commentaire.png"  alt="">
              </div>
              <div class=btn_more>
              <nuxt-link :to="'/le-mag/' + article.nid">
                <button>En savoir plus</button>
              </nuxt-link>
              </div>
            </div>
            </div>
          </div>
        </div>

        <div v-if="article.field_format == '4x4'">
          <div class="head">
            <div class="rubrique">Rubrique</div>
            <div class="date"> Le {{ article.created }} </div>
            <img src="~assets/home/croix.png" class="close" alt="">
          </div>
          <div class="body body_4x4">
            <img class="image_44" :src="`http://localhost:8888` + article.field_image" alt="">
            <div>
              <p class="title" > {{ article.title }} </p>
              <p class="text" v-html="article.body"></p>
             <div class="container_btn">
              <div class=btn_link>
                <img src="~assets/picto/partage.png"  alt="">
                <img src="~assets/picto/commentaire.png"  alt="">
              </div>
              <div class=btn_more>
              <nuxt-link :to="'/le-mag/' + article.nid">
                <button>En savoir plus</button>
              </nuxt-link>
              </div>
            </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  <Footer/>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios';
import Cookies from 'js-cookie'
import Vuex from 'vuex'

import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer'


export default {
  components: {
    Header,
    Navbar, 
    Footer
  },
  middleware: 'authen',
  asyncData(){
    return axios.get('http://localhost:8888/drupal-8.6.1/api/articles')
    .then((res) => {
      console.log("res:", res.data)
      return { articles : res.data}
    })
    .catch((e) => {
      console.log("error", e)
    })
  }
}
</script>

<style scoped>

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/home/Fond1.png');
  background-size: cover;
}

.bar_title {
  height: 35px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 4.4%;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  padding-top: 2.1%;
  padding-right: 4.4%;
  padding-bottom: 2.1%;
  padding-left: 4.4%;
  /* grid-template-rows: 100vh 50vh 50vh; */
}

.wrapper .block:first-child {
  /* grid-row: 1 / 4; */
  /* grid-row-end: span 2; */
}

/* .wrapper .block::first-child {
  grid-column-start: 1;
  grid-row-end: span 2;
  grid-row-end: span 2;
} */

.block {
    /* background-color: white;
    border: 1px solid black;
    height: 33.75333vh; */
}


.wrapper .block:first-child {
  grid-column-start: 1;
  grid-row-end: span 2;
}

.wrapper .block:nth-child(2) {
  grid-column-start: 2;
  height: 35vh;
}

.wrapper .block:nth-child(3) {
  grid-column-start: 2;
  height: 35vh;
}

.body_4x6, .body_4x4 {
  display: flex;
}

.container_4x6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image_46 {
  height: 200px !important;
  width: 145px !important;
  object-fit: cover;
  margin-right: 15px;
}

.image_44 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 15px;
}

.block {
  background-color: white;
  border: 1px solid black;
}

.rubrique {
  width: 128.676px;
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  line-height: 3.375;
}

.head {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  position: relative;
}

.close {
  margin-right: 10px;
  position: absolute;
  right: 0
}

.date {
  font-size: 9px;
  line-height: 3.375;
  margin-left: 16px;
}

.article_img {
  height: auto;
  width: 100%;
}

.body {
  padding: 18px;
}

.text {
  font-size: 10.5px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.title {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 2.25;
  text-align: center;
  margin-bottom: 10px;
}

.container_4x6 .title {
  text-align: left;
}

.container_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn_link {
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_more {
  align-self: end;
  height: 100%;
}

.btn_more button {
  background-color: white;
  border: solid 1px black;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  height: 20px;
  display: flex;
  line-height: 1px;
  font-size: 11px;
}

.body_4x6 .btn_link {
  width: 24% !important;
}

.body_4x4 .btn_link {
  width: 30%!important;
}
</style>
