<template>
  <section class="section">
  <Header/>
  <Navbar/>
  <div class="bar_title">Portrait</div>
    <div class="container2">
      <div class="content">
        <div class="block" v-for="portrait in portraits" :key="portrait.id">
          <div class="head">
            <div class="date"> Le {{ portrait.created }} </div>
            <img src="~assets/home/croix.png" class="close" alt="">
          </div>
          <div class="body">
            <img class="portrait_img" :src="`http://localhost:8888` + portrait.field_image_portrait" alt="">
            <p class="type">Métier de la bd</p>
            <p class="title" > {{ portrait.title }} </p>
            <p class="pays">{{ portrait.field_pays }}</p>
            <p class="text" v-html="portrait.body"></p>
            <div class="container_btn">
              <div class=btn_link>
                <img src="~assets/picto/partage.png"  alt="">
                <img src="~assets/picto/commentaire.png"  alt="">
              </div>
              <div class=btn_more>
                <nuxt-link :to="'/portrait/' + portrait.nid">
                <button>En savoir plus</button>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <Footer/>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios';
import Cookies from 'js-cookie'
import Vuex from 'vuex'

import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer'


export default {
  components: {
    Header,
    Navbar, 
    Footer
  },
  middleware: 'authen',
  asyncData(){
    return axios.get('http://localhost:8888/drupal-8.6.1/api/portrait')
    .then((res) => {
      return { portraits : res.data}
    })
    .catch((e) => {
      console.log("error", e)
    })
  }
}
</script>

<style scoped>

a, a:hover {
  color: black;
  text-decoration: none;
}

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/home/Fond1.png');
  background-size: cover;
 }

.bar_title {
  height: 35px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 4.4%;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 25px;
  padding-right: 4.4%;
  padding-bottom: 25px;
  padding-left: 4.4%;
}

.body {
  padding: 15px;
  background-color: white; 
}

.head {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  position: relative;
  height: 22px;
}

.close {
  margin-right: 10px;
  position: absolute;
  right: 0
}

.date {
  font-size: 9px;
  line-height: 3.375;
  margin-left: 16px;
}

.portrait_img {
  width: 100%;
  max-height: 47vh;
  object-fit: cover;
}

.type {
  font-size: 9px;
  color: rgb(254, 76, 64);
  font-weight: bold;
  line-height: 2.219;
  text-transform: uppercase;
  margin-top: 10px;
}



.title {
  font-size: 11px;
  color: black;
  font-weight: bold;
  line-height: 2.219;
  text-transform: uppercase;
  margin-top: -6px;
}

.pays {
  font-size: 10px;
  color: black;
  line-height: 2.219;
  text-transform: uppercase;
  margin-top: -6px;
}

.text {
  font-size: 11px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}

.container_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn_link {
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_more {
  align-self: end;
  height: 100%;
}

.btn_more button {
  background-color: white;
  border: solid 1px black;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  height: 20px;
  display: flex;
  line-height: 1px;
  font-size: 11px;
}
</style>


