<template>
  <section class="section">
  <Header/>
  <Navbar/>
    <div class="container2">
      <h2 class="title">My Profile</h2>
      <div class="content">
        <p>
          <strong>Username:</strong>
          {{ loggedInUser.name }}
        </p>
        <p>
          <strong>Email:</strong>
          {{ loggedInUser.email }}
        </p>
      </div>
    </div>
  <Footer/>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios';
import Cookies from 'js-cookie'
import Vuex from 'vuex'

import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer'


var config = {
  headers: {'Authorization': Cookies.get('auth._token.local')}
};

let id = ''

export default {
  components: {
    Header,
    Navbar, 
    Footer
  },
  data(){
    return {
      id: '',
      axios_url: ''
    }
  },
  computed: {
    ...mapGetters(['loggedInUser'])
  },
  created () {
    id = this.loggedInUser.id
    // this.url = `http://localhost:8000/api/users/${this.id}`
    // console.log(this.id); // logs "hello"
  },
  asyncData(){
    console.log('id:', id)
    return axios.get(`http://localhost:8000/api/users/${id}`, config)
    .then((res) => {
      console.log('res', res)
    })
    .catch((e) => {
      console.log("error", e)
      // error({ statusCode: 404, message: 'Not found' })
    })
  },
  middleware: 'auth',
}
</script>

<style scoped>

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/home/Fond1.png');
  background-size: cover;
 }

</style>
