<template>
 <section class="section">
  <div>
    <img class="logo" src="~assets/connexion/logo.png" alt="">
  </div>
  <p class="membre">Je m'inscris</p>
  <div class="avatar_container">
    <img class="avatar" src="~assets/connexion/AVATAR.png" alt="">
    <p class="download_avatar">Télécharger mon avatar</p>
    <p class="plus_tard">Je m’en occupe plus tard !</p>
  </div>
  <div v-show="step === 1">
    <!-- <button @click.prevent="next()">Valider</button> -->
  </div>

  <div v-show="step === 2">
    <h1>Step2</h1>
    <button @click.prevent="prev()">Previous</button>
  </div>

    <form class="register_form">
      <input id="username" placeholder="Identifiant" v-model="username" type="username" class="input"  required>
      <input id="email" placeholder="Email" v-model="email" type="email" class="input"  required>
      <p v-show="error_mail" class="error_mail">Cette adresse e-mail est déjà utilisée.</p>
      <input id="password" placeholder="Mot de passe" v-model="password" type="password" class="input"  required>
      <input id="password" placeholder="Confirmation mot de passe" type="password" class="input"  required>
      <b-button @click="register" variant="outline-success" class="valider">Valider</b-button>
    </form>
    <!-- <b-form>
      <b-form-group label="Enter your username" label-for="username">
        <b-form-input id="username" v-model="username" type="username" required></b-form-input>
      </b-form-group>
      <b-form-group label="Enter your Email" label-for="username">
        <b-form-input id="email" v-model="email" type="email" required></b-form-input>
      </b-form-group>
      <b-form-group label="Enter your Password" label-for="pw">
        <b-form-input id="pw" v-model="password" type="password"> </b-form-input>
      </b-form-group>
      <b-button-group size="sm">
          <b-button @click="register" variant="outline-success">Register</b-button>
        </b-button-group>
    </b-form> -->

  <p class="deja_membre">Vous avez déjà un compte ?</p>
  <nuxt-link class="liens_login" to="/">Connectez-vous</nuxt-link>
  <div class="step_container_position">
    <section class="step_container">
      <div class="completed">1</div>
      <div class="completed">2</div>
      <div v-bind:class="{ completed: isCompleted, not_completed: notCompleted}">3</div>
    </section>
  </div>
</section>
</template>

<style scoped>

p {
  margin: 0;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/connexion/Calque.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 12px !important;
}

.section div {
  display: flex;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 13%;
  width: 266px;
  height: 53px;
}

.step_container_position {
  position: absolute;
  bottom: 7%;
}

.step_container {
  display: flex;
  width: 185px;
  justify-content: space-around;
  position: relative;
}

.step_container::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 73%;
  background-color: white;
  top: 46%;
}

.completed {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  color: #2f58c4;
  position: relative;
  z-index: 2;
  align-items: center;
  font-weight: bold;
  font-size: 9px;
}

.not_completed {
  height: 15px;
  width: 15px;;
  border: solid 1px white;
  border-radius: 50%;
  color: white;
  background-color: #2f58c4;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 9px;
}

.membre {
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  position: relative;
}

.avatar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 135px;
}

.download_avatar{
  font-size: 11px;
  color: rgb(244, 244, 244);
  line-height: 2.455;
  width: 131px;
  height: 11px;
}

.register_form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 219px;
  height: 27px;
  background-color: transparent !important;
  margin-bottom: 12px;
  border: none;
  border: solid 1px white;
  padding-left: 10px;
  border-radius: 10px;
  color: rgb(244, 244, 244);
  font-style: italic;
  line-height: 2.451;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: inherit;
    opacity: 1; /* Firefox */
    font-size: 12px !important;
    color: rgb(244, 244, 244);
    font-style: italic;
    line-height: 2.451;
}

.valider {
  width: 219px;
  height: 27px;
  background-color: white;
  border-radius: 10px;
  border: none;
  border: solid 1px white;
  margin-top: 15px;
  color: white;
  text-transform: initial;
  font-size: 12px;
  color: rgb(244, 244, 244);
  font-weight: bold;
  color: #2e57c4;
  text-transform: uppercase;
}

.deja_membre {
  font-size: 11px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-top: 15px;
}

.liens_login {
  font-size: 11px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-decoration: underline;
}

.plus_tard {
  font-size: 9px;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 3;
  width: 130px;
  height: 9px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.error_mail {
  margin-top: -5px;
  margin-bottom: 5px;
  color: white;
  font-style: italic;
  font-size: 10px;
}


</style>

<script>
// import Notification from '~/components/Notification'
import axios from 'axios';
export default {
  components: {
    // Notification,
  },
  data() {
    return {
      username: '',
      email: '',
      password: '',
      step: 1, 
      isCompleted: true,
      notCompleted: true, 
      error_mail: false
    }
  },
  methods: {
    prev(){
      this.step--;
      if(this.step === 1){
        this.isCompleted = false;
        this.notCompleted = true;
      }
    },
    next(){
      this.step++;
      if(this.step === 2){
        this.isCompleted = true;
        this.notCompleted = false;
      }
    },
    async register() {
      try {
        let response = await axios.post('http://localhost:8000/api/auth/register', {
          name: this.username,
          email: this.email,
          password: this.password
        })

        console.log("response:", response)
        if(response.status == 200 && response.data.success == true){
          console.log(response.data.message)
          this.$router.push('/genre')
        }
        else if(response.status === 200 && response.data.success == false){
          this.msgError = response.data.error.email;
          this.error_mail = true;
          console.log(response.data.error);
        }
      } 
      catch (e) {
        console.log(e);
      }
      // finally {
      //   console.log('username', this.username)
      //   console.log('email', this.email)
      //   console.log('password', this.password)
      // }
    }
  }
}
</script>

