<template>
  <section class="section">
  <Header/>
  <Navbar/>
  <div v-for="portrait in portraits" :key="portrait.id">
    <div class="bar_title">Portrait > <span> {{ portrait.title }} </span></div>
    <div class="container_portrait">
      <div class="wrapper">
        <div class="block1">                
          <img class="article_img" :src="`http://localhost:8888` + portrait.field_image_portrait" alt="">
          <div class="block_orange">
            <p class="metier">Metier de la bd</p>
            <p class="name">{{ portrait.title }}</p>
            <p class="pays">{{ portrait.field_pays }}</p>
            <p class="site">{{ portrait.field_site_internet }}</p>
            <div class="picto">
              <a :href="portrait.field_linked" target="_blank"><img class="logo" src="~assets/picto/linkedin.png" alt=""></a>
              <a :href="portrait.field_instagram" target="_blank"><img class="logo" src="~assets/picto/insta.png" alt=""></a>
              <a :href="portrait.field_be" target="_blank"><img class="logo" src="~assets/picto/behance.png" alt=""></a>
              <a :href="portrait.field_twi" target="_blank"><img class="logo" src="~assets/picto/twitter.png" alt=""></a>
              <a :href="portrait.field_facebook" target="_blank"><img class="logo" src="~assets/picto/facebook.png" alt=""></a>
              <a :href="portrait.field_tumblr" target="_blank"><img class="logo" src="~assets/picto/tumblr.png" alt=""></a>
            </div>
          </div>
        </div>
        <p class="body" v-html="portrait.body"></p>  
      </div>
    </div>
  </div>
  <Footer/>
  </section>
</template>


<script>
import axios from 'axios';

import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer'

export default {
  components: {
    Header,
    Navbar, 
    Footer
  },
  middleware: 'authen',
  asyncData({params}){
    console.log("id est ", params.id)
    return axios.get(`http://localhost:8888/drupal-8.6.1/api/portrait/${params.id}`)
    .then((res) => {
      console.log('id:', res.data)
      return { portraits : res.data}
    })
    .catch((e) => {
      console.log("error", e)
    })
  }
}
</script>

<style scoped>

a, a:hover {
  color: black;
  text-decoration: none;
}

.section {
  min-height: 100vh;
  width: 100%;
  background-image: url('/assets/home/Fond1.png');
  background-size: cover;
 }

.bar_title {
  height: 35px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 4.4%;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.container_portrait {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  width: 91%;
  height: 88%;
  box-shadow: 4px 4px 8px -1px rgba(8, 8, 8, 0.37);
  display: grid;
  grid-template-columns: 30% 1fr;
  padding: 40px;
}

.article_img {
  width: 100%;
  max-height: 44vh;
  object-fit: cover;
}

.block1 {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.block_orange {
  height: 16vh;
  background-color: #fe4c40;
  position: relative;
  margin-top: 10px;
  padding: 8px;
}

.metier {
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.219;
  text-transform: uppercase;
}

.name {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.067;
  text-transform: capitalize;
}

.pays {
  font-size: 11px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.site {
  font-size: 9px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.556;
}

.logo {
  margin-right: 3px;
}



.body {
  font-size: 11px;
  line-height: 1.444;
  column-count: 3;
}

.body p {
  height: 100%;
}

.body p strong {
  color: #fe4c40;
}

</style>
